.main{
	padding: 35px;
	padding-top: 20px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-weight: 300;
    color: #505458;
}
.page-title i {
	display: inline-block;
    color: #99a1ab;
    font-size: 26px;
    margin-right: 5px;
    position: relative;
    top: 0px;
    float: left
}
.page-title {
    padding: 0px;
    letter-spacing: -1px;
    display: block;
    color: #666;
    margin: 0 0 10px;
    font-weight: 300;
}