/*------------------------------------------------------------------
	后台登录
*/

.missphp-login {
	padding-top: 0;
	margin-left: 0;
	.missphp-content {
		margin: 0;
		.main-content {padding: 25px;}
	}
	.form-container {
	    max-width: 401px;
	    margin: 50px auto;
	    .card {
	        margin-bottom: 30px;
	        .card-header {
	            text-align: center;
	            margin-bottom: 20px;
	            padding-top: 40px;
	            background: #fff;
	            border-bottom: none;
	            .description {
	                text-align: center;
	                display: block;
	                line-height: 20px;
	                font-size: 1rem;
	                color: #5a5a5a;
	                margin-top: 11px;
	                padding-bottom: 10px;
	            }
	        }
	        .card-body {
	        	padding: 20px 30px 15px;
				.login-tools {
				    padding: 15px 0 0;
				    margin-bottom: 16px;
				}
				.login-submit {
				    padding: 19px 0 0;
				    margin-bottom: 1.3842rem;
				}
				.btn-xl {
				    padding: 0 12px;
				    font-size: 1.1538rem;
				    line-height: 43px;
				    border-radius: 3px;
				    font-weight: 500;
				}
	        }
	    }
	}
	
}
